{% extends '@ExamBlanc/default/layout.html.twig' %}

{% block body %}

    <div class="intro container">
        <div class="row>">
            <h1>Examen Blanc - {{ "now"|date("d/m/Y") }}</h1>
            <p>L'examen blanc technique se découpe en deux étapes, tu peux réaliser les deux étapes distinctement les unes des autres, elles ne sont pas liées.</p>
            <p>La partie sur Symfony / MVC / Intégration se decoupe en plusieurs étapes.</p>
            <p>Même si tu ne parviens pas à réaliser la totalité de l'étape, laisse le code, il manque parfois peu de chose pour que ce soit fonctionnel.</p>
            <p><span>Petite précision, nous sommes sur la version 3.1 de Symfony</span></p>
            <div class="row attention line_divider">
                <div class="col m2">
                    <img src="{{ asset('bundles/examblanc/images/attention.png') }}" alt="attention"/>
                </div>
                <div class="col m8">
                    <p>Avant toute chose, crée toi une branche sur git portant ton nom, c'est sur cette dernière que tu travailleras, une fois le travail effectué tu pousseras ton travail dessus</p>
                </div>
                <div class="col m2">
                    <img src="{{ asset('bundles/examblanc/images/attention.png') }}" alt="attention"/>
                </div>
            </div>
        </div>
        <div class="row etapes">
            <div class="col m6">
                <h4>Algorithmique</h4>
                <div><a class="waves-effect waves-light btn" href="{{ path('exam_blanc_algo') }}">C'est parti</a></div>
            </div>
            <div class="col m6">
                <h4>Symfony / MVC / Intégration</h4>
                <div><a class="waves-effect waves-light btn" href="{{ path('exam_blanc_sf2') }}">C'est parti</a></div>
            </div>
        </div>
    </div>

{% endblock %}